<div class='home-container'>
	<div class='kala-chakra-container'>
	<%= image_tag "kala_chakra.gif", class: 'kala-chakra'%>
	<div class='kala-chakra-quate'>
			In the lap of the Eternal, time does not exist. 
			<br>Only for those who are trapped in the cycles of birth and death, time becomes a reality
	</div>
</div>