<div class='container'>
	<%= image_tag 'intelligance.jpg', class: 'intelligance-background-image' %>
	<div class='logo-and-navbar'> 
		<div class='aum-logo-div'>
			<%= image_tag "aum_logo.png", class: 'aum-logo'%>
		</div>
		<div class='menu-bar-icon-div'>
			<%= image_tag "menu_bar_icon.png", class: 'menu-bar-icon'%>
		</div>
	</div>
	<div class='quate-on-intelligance'>
		Experience life in all possible ways 
		<br>--good-bad, bitter-sweet, dark-light, summer-winter . 
		<br>Experience all dualities. 
		<br>Don’t be affraid of experience, because the more experience you have ,
		<br>the more mature you become .
	</div>
</div>

<div class='navbar-menu'>
	<div>Bhakti Yoga</div>
	<div>Gyan Yoga</div>
	<div>Karam Yoga</div>
	<div>Kriya Yoga</div>
	<div>Kundalini Yoga</div>
	<div>Tantra Marg</div>
	<div>Aghori Marg</div>
	<div>Nad Yoga</div>
</div>